.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-flow: row nowrap;
}

.result {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: min-content;
  height: 100%;
  max-height: 348px;
  padding-top: 48px;
  margin: 0 auto;
  flex-flow: row nowrap;
  gap: 16px;
}

